  <%- include('layout/header'); %>      
  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a href="/login">log in</a> instead.</p>
      <% if(error != ''){ %>
     <p class="alert alert-danger"><%= error %></p>
     <% } %>
      <form name="registration" id="registration" method="post" action="" novalidate="novalidate">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>
  <%- include('layout/footer') %>
